{% extends "layouts/base.html" %}
{% block content %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6"> <!-- Увеличено с col-lg-5 до col-lg-6 -->
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header text-center bg-green">
                            <div id="error_div"></div>
                            <h3 class="font-weight-light my-4">Забыли пароль?</h3>
                        </div>

                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}

                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <label class="small mb-1" for="id_email"></label>
                                    <input type="email" name="email" class="form-control"
                                           autocomplete="email" maxlength="254" required id="id_email"
                                           placeholder="Введите адрес эл. почты">
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark">Подтвердить</button>
                                </div>
                            </form>
                        </div>

                        <div class="card-footer text-center">
                            <div class="small">
                                <!-- Добавлен класс text-primary для яркости и немного увеличен шрифт -->
                                <a href="{% url 'users:registration' %}" class="text-primary fw-bold"
                                   style="font-size: 1.1em;">Создать новый аккаунт</a><br><br>
                                <a href="{% url 'users:login' %}" class="text-primary fw-bold"
                                   style="font-size: 1.1em;">Вернуться к странице авторизации</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

