{% extends 'layouts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% block content %}
    <main>
        <div class="container py-5 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
            <div class="col-md-6 col-lg-5">
                {% if messages or form.non_field_errors %}
                    <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} alert-dismissible fade show mt-5 shadow"
                         role="alert">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% else %}
                            {{ form.non_field_errors }}
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <div class="card border-0 shadow-lg rounded-3 mt-5">
                    <div class="card-header text-center py-4 bg-primary text-white">
                        <h3 class="fw-bold mb-0">Авторизация</h3>
                    </div>
                    <div class="card-body p-4">
                        <form action="{% url 'users:login' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="{{ form.username.id_for_label }}"
                                       class="form-label small text-muted"></label>
                                {{ form.username }}
                            </div>
                            <div class="mb-3 position-relative">
                                <label for="{{ form.password.id_for_label }}"
                                       class="form-label small text-muted"></label>
                                {{ form.password }}
                                <span class="position-absolute top-50 end-0 me-3" style="cursor: pointer;"
                                      onclick="togglePasswordVisibility('id_password', 'togglePasswordIcon')">
                                    <i class="fa fa-eye" id="togglePasswordIcon"></i>
                                </span>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <a class="small text-decoration-none" href="{% url 'users:password_reset' %}">Забыли
                                    пароль?</a>
                                <button class="btn btn-primary btn-lg rounded-pill px-4 shadow" type="submit">Войти
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center bg-light py-3">
                        <p class="small mb-0"><a href="{% url 'users:registration' %}" class="text-primary fw-bold">Нужен
                            аккаунт? Зарегистрируйтесь!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/authorization.js' %}"></script>
{% endblock %}