html, body {
    background-color: #ffb5b5;
    font-family: 'Arial', sans-serif;
    height: 100%;
}


.navbar {
    background-color: #28a745;
}



h2, h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    /*background: url('img/flower-bg.jpg') no-repeat center center;*/
    background-size: cover;
    border-radius: 8px;
}

.carousel-container{
    max-width: 70% !important;
    }

.container {
    margin-top: 30px;
}

.img_generate{
    padding: 5px;
    margin-top: 10px;
}

#profileSection, #subscriptionSection {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*background: url('img/bg-pattern.png');*/
}

.footer {
    background-color: #28a745;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.carousel-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

.bg-gray {
    background: linear-gradient(90deg, rgba(175, 100, 130, 1) 0%, rgba(235, 198, 212, 1) 70%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.bg-green {
    background: #00a82b;
}

.navbar-brand, .nav-link {
    color: #383838;
}

.navbar-brand:hover, .nav-link:hover {
    color: #ff0000;
}

.upload-icon{
	width: 100%;
}

.chat-box{
    overflow-y: scroll; /* Прокрутка сообщений, если они не помещаются */
    padding: 15px; /* Отступы внутри */
}

.message {
    margin-bottom: 20px; /* Добавляет отступ между сообщениями */
}



/* Медиазапрос для экранов шириной до 768px (например, планшеты и телефоны) */
@media (max-width: 768px) {

    .lead {
        font-size: 1rem; /* Уменьшаем текст для описания */
    }

    .carousel-container{
    max-width: 100% !important;
    }

    .my-1{
        margin-top: 0 !important;
    }

    .navbar-collapse {
        padding-left: 15px;  /* Добавляем отступ слева */
        padding-right: 15px; /* Добавляем отступ справа */
    }

    .navbar-nav {
        margin-left: 0;  /* Убираем лишний отступ слева */
        margin-right: 0; /* Убираем лишний отступ справа */
    }



    .navbar-toggler {
        margin-right: 10px; /* Добавляем немного отступа справа для кнопки */
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 30px;  /* Уменьшаем размер стрелки */
        height: 30px; /* Уменьшаем размер стрелки */
    }

    .carousel-control-prev, .carousel-control-next {
        padding: 0.5rem; /* Уменьшаем padding вокруг кнопок */
    }
}
