{% extends 'layouts/base.html' %}
{% load static %}

<!-- Карусель изображений -->
{% block content %}
    <div class="carousel-container my-1">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img height="300" src="{% static 'img/flowers1.jpg' %}" class="d-block w-100 img-fluid"
                         alt="Красивый букет">
                </div>
                <div class="carousel-item">
                    <img height="300" src="{% static 'img/flowers2.jpg' %}" class="d-block w-100 img-fluid"
                         alt="Композиция из роз">
                </div>
                <div class="carousel-item">
                    <img height="300" src="{% static 'img/flowers3.jpg' %}" class="d-block w-100 img-fluid"
                         alt="Смешанные цветы">
                </div>
            </div>
            <!-- Удалён блок с индикаторами -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
    </div>




    <!-- Чат с ИИ -->
    <div class="container mt-4">
        <div class="row">

            <!-- Форма для ввода текста -->
            <form action="" method="post" class="col-12 col-md-6 mt-0">
                <div class="container mt-4">
                    <div class="jumbotron text-center">
                        <h1>Добро пожаловать в FloriAI!</h1>
                        <p class="lead">Ваш переводчик языка цветов на основе искусственного
                            интеллекта.</p class="lead">
                    </div>
                </div>
                <h4>Введите необходимые параметры букета (генерация может занять до минуты)</h4>
                {% csrf_token %}
                <textarea
                        name="chatboxImageGen"
                        id="chatboxImageGen"
                        class="form-control"
                        rows="3"
                        placeholder="Спросите о вашем букете..."
                        required
                ></textarea>
                <button id="sendButtonImageGen" type="submit" class="btn btn-success mt-2">
                    Отправить
                </button>
            </form>

            <!-- Отображение сгенерированного изображения -->
            <div class="container text-center col-lg-6 col-md-6 mt-0">
                <h3>Ваше сгенерированное изображение</h3>
                <div class="image-container">
                    {% if image_url %}
                        <img
                                class="img-fluid rounded-lg"
                                src="{{ image_url }}"
                                alt="Сгенерированное изображение"
                                style="max-width: 512px; border: 1px solid #ddd; padding: 5px; margin-top: 10px;"
                        />
                    {% else %}
                        <img
                                class="w-100 rounded-lg"
                                src="{% static 'img/bg_gen.jpeg' %}"
                                alt="Фоновое изображение"
                                style="max-width: 512px; border: 1px solid #ddd; padding: 5px; margin-top: 10px;"
                        />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="jumbotron text-center">
            <hr class="my-4">
            <p>А также, узнайте значение каждого букета относительно языка цветов по его изображению!
                <a class="btn btn-primary btn-lg mx-2" href="{% url 'translater:index' %}" role="button">Начать
                </a>
            </p>

        </div>
    </div>
    <!-- Рекламный баннер -->
    <div id="adSection" class="mt-4 text-center">
        <img width="1000" src="{% static 'img/adbanner.jpg' %}" alt="Рекламный баннер"
             class="img-fluid mx-auto d-block">
    </div>
{% endblock %}

{% block scripts %}
    {#    <script src="{% static 'js/generation.js' %}"></script>#}
{% endblock %}
