{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <!-- Анализ картинки -->
    <div class="container mt-4">
        <img src="{% static 'img/upload-icon.jpg' %}" alt="Иконка загрузки" class="upload-icon">

        <form id="uploadForm">
            <div class="mb-3">
                <label for="fileInput" class="form-label"></label>
                <input type="file" class="form-control" id="fileInput">
            </div>
            <div class="mb-3">
                <label for="cultureSelect" class="form-label">Выберите интерпретацию:</label>
                <select class="form-select" id="cultureSelect">
                    <option value="all">Все интерпретации</option>
                    <option value="Western">Западная</option>
                    <option value="Eastern">Восточная</option>
                    <option value="Japanese">Японская</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="showResults()">Анализировать</button>
        </form>
        <!-- Букет дня -->

        <div id="resultsSection" class="mt-4" style="display:none;">
            <h3>Значение вашего букета в разных культурах</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Цветок</th>
                    <th>Цвет</th>
                    <th>Культура</th>
                    <th>Значение</th>
                </tr>
                </thead>
                <tbody id="resultsTable"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/translate.js' %}"></script>
{% endblock %}




