{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <!-- Анализ картинки -->
    <div class="container mt-4">
        <h1>{{ title }}</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="fileInput" class="form-label">Загрузите изображение:</label>
                <input type="file" class="form-control" id="fileInput" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Анализировать</button>
        </form>

        {% if result %}
            <div id="resultsSection" class="mt-4">
                <h3>Результат анализа</h3>
                <pre>{{ result|safe }}</pre>
            </div>
        {% endif %}

        {% if error %}
            <div class="alert alert-danger mt-4">
                {{ error }}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/translate.js' %}"></script>
{% endblock %}




